td {
  width: 100px;
  height: 100px;
}

div {
  height: 100px;
}

.jaune{
	background-image: url("../img/jaune.png");
	background-size: contain;
}

.rouge{
	background-image: url("../img/rouge.png");
	height: auto;
  	width: auto;
	background-size: contain;

}